.dropdown-menu{
    width: 17rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.dropdown-menu__ul{
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}
.dropdown-menu__li{
    list-style-type: none;
    font-size: var(--font-md);
    font-weight: bold;
    text-align: right;
    margin: 0 2rem;
    padding: 2rem .5rem;
}
.dropdown-menu__li:last-child{
    border-top: .2rem solid var(--text-input-field);
    margin-top: 1rem;
}

.dropdown-menu__a{
    text-decoration: none;
    color: black;
}
.dropdown-menu__a--green{
    color: var(--hospital-green);
}