
.head-section__h1--myaccount{
    align-self: flex-start;
    text-align: start;
    margin:3.2rem 0;
}

@media screen and (max-width: 640px){
    .main--myaccount{
        grid-template-rows: auto auto 1fr;
    }
}